<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<style>
    body{ 
        background-image: url("<%= image %>");
        background-size: cover;
    }
</style>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <div class="content">
        <img src="/img/solar-system.jpg">
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>
